
html{
    background-color: #d3cfce;
    padding: 40px;
}
body{
    background-color: white;
}
header{
    text-align: center;
}
.card-title{
    box-shadow: 2px 2px 7px 1px rgba(206,89,55,0.42);
}
.info{
    text-align: left;
    margin: 30px;;
}

.moi{
    height: 200px;
    width: 200px;
    padding: 30px;
}
.nometmetier{
    display: flex;
    align-content: center;
    flex-direction: column;
}

.citation{
    background-color: #eae2e0;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    margin: 50px;
    font-family: "Apple Chancery", cursive;
}
h2{
    font-family: "Quicksand", cursive;
}

.competence{
    padding: 20px;
}
.experience{
    padding: 20px;
}

.ctw{
    height: 100px;
    width: 200px;
}
.school{
    height: 100px;
    width: 100px;
}
.formation{
    padding: 20px;
}
.centre{
    padding: 20px;
}
.souvenir{
    border: 1px solid black;
    padding: 30px;
    margin: 50px;
    margin-bottom: 20px;
    font-family: "Exo";
}